<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sign up on justPost</title>
</head>
<body>
    <div class="w-full h-screen bg-lime-200 flex">
       
        <div class="w-1/2 h-screen bg-zinc-200 flex flex-col justify-center p-10">
            <h1 class="uppercase font-black text-8xl">justpost<span class="text-orange-500">.</span></h1>
            <p class="text-2xl font-thin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis distinctio fugit atque deserunt ipsum laborum.</p>
            <button class="bg-black mt-11 text-white w-28 h-11 text-xl rounded-3xl">Login</button>
        </div>

        <div class="w-1/2 h-screen bg-white flex justify-center items-center">
           <div class="w-3/5 h-4/5  gap-4  bg-zinc-50 drop-shadow-lg flex flex-col rounded-2xl overflow-hidden ">
            <div class="w-full h-1/4 bg-black  text-white flex items-end pb-3 pl-8 mb-6">
                <h1 class="font-bold text-5xl">Sign Up Now<span class="text-orange-500">.</span></h1>

            </div>
            <form action="/user/signup" method="post" class="flex flex-col gap-8 m-8 text-xl">
                
                <input type="text" name="name" class="border-b-2  border-zinc-400 w-4/5 outline-none bg-transparent" placeholder="Enter your name">

                <input type="text" name="username" class="border-b-2 border-zinc-400 w-4/5 bg-transparent outline-none" placeholder="Set a unique username">

                <input type="email" name="email" class="border-b-2 border-zinc-400 w-4/5 bg-transparent outline-none" placeholder="Email">

                <input type="password" name="password" class="border-b-2 border-zinc-400 w-4/5 bg-transparent outline-none" placeholder="Password">
                
                <input type="number" name="age" class="border-b-2 border-zinc-400 w-4/5 bg-transparent outline-none" placeholder="Enter your age in years only i.e 22">
               
               
                <select name="gender" id="" required class="border-b-2 border-zinc-400 w-4/5 bg-transparent outline-none">
                    <option value="" selected disabled>Select a gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                    <option value="did not told">Prefer not to say</option>
                </select>
                
                <input type="submit" value="Register" class="bg-black text-white h-12 w-36 p-1 rounded-3xl text-xl font-bold">
            </form>
           </div>
        </div>
          
            
        </div>
       
    </div>
   
    
    
</body>
</html>  